<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
<!--    <link href="static/style.css" rel="stylesheet">-->
    <style>
        .container p{
        text-align: center;
        background-color:#00686D;
        margin: 100px;
        color: white;
        font-size: 20px;
        }
        body{
        background-color:#00686D;
        }
    </style>
</head>
<body>
<div class = 'container' >
    <p>Thank you for your submission<br>
    you will receive an email with the survey results shortly</p>
</div>
</body>
</html>